<div class="container my-5">
    <h1 class="'mb-3">Drugs</h1>
        <div class="search-box">
            <input type="text" class="input" id="drugname" name="drugname" placeholder="Search" [(ngModel)] ="drugname">
            <button type="submit" class="search-button" (click)=getDrugByDrugName(drugname)>
                Search
            </button>
          </div>
    <table class="table" *ngIf="drugsDisplay && drugsDisplay.length>0">
        <thead>
            <tr>
                <th>DrugId</th>
                <th>DrugName</th>
                <th>DrugDescription</th>
                <th>DrugPrice</th>
                <th>DrugQuantityAvailable</th>
                <th>RequiredQuantity</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr id="row" *ngFor="let drug of drugsDisplay">
                <td>{{ drug.DrugId}}</td>
                <td>{{ drug.DrugName}}</td>
                <td>{{ drug.DrugDescription}}</td>
                <td>{{ drug.DrugPrice}}</td>
                <td>{{ drug.DrugQuantityAvailable}}</td>
                <td><input type="number" id="reqQuantity" name="reqQuantity" min="1" [(ngModel)] ="reqQuantity"></td>
                <td><button class="btn btn-info" (click)="postCart(drug.DrugId,reqQuantity)">Add To Cart<i class=""></i></button></td>
            </tr>
        </tbody>

    </table>
    <p *ngIf="!drugsDisplay || drugsDisplay.length <=0">Drugs NotFound</p>
    

</div>

