<div class="container my-5">
    <h1 class="mb-3">Edit Drug</h1>
    <div class="row">
        <div class="col-6">
            <form #form="ngForm" (ngSubmit)="updateDrug()">
                <div class="mb-3">
                    <label for="drugid" class="form-label">DrugId</label>
                    <input type="number" class="form-control" id="drugname" readonly name="drugid" [(ngModel)] ="drugDetails.DrugId" required>
                </div>
                <div class="mb-3">
                  <label for="drugname" class="form-label">DrugName</label>
                  <input type="text" class="form-control" id="drugname" name="drugname" [(ngModel)] ="drugDetails.DrugName" required>
                </div>
                <div class="mb-3">
                  <label for="drugdescription" class="form-label">DrugDescription</label>
                  <input type="text" class="form-control" id="drugdescription" name="drugdescription" [(ngModel)] ="drugDetails.DrugDescription" required>
                </div>
                <div class="mb-3">
                  <label for="drugprice" class="form-label">DrugPrice</label>
                  <input type="number" class="form-control" id="drugprice" name="drugprice" [(ngModel)] ="drugDetails.DrugPrice" required>
                </div>
                <div class="mb-3">
                    <label for="drugquantityavailable" class="form-label">DrugQuantityAvailable</label>
                    <input type="number" class="form-control" id="drugquantityavailable" name="drugquantityavailable" [(ngModel)] ="drugDetails.DrugQuantityAvailable" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <input type="text" class="form-control" id="message" name="message" [(ngModel)] ="drugDetails.SuccessMessage" required>
                </div>
                  
                <button type="submit" class="btn btn-primary" style="margin-right: 20px;">Save</button>
                <button type="button" class="btn btn-danger" (click)="deleteDrug(drugDetails.DrugId)">Delete</button>
            </form>
        </div>
    </div>
    
</div>
