<html>
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
   <a class="navbar-brand" routerLink="">PharmStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div *ngIf="isUserLoggedIn(); else AdminCheck" class="user-nav navbar-right">
        <a style="margin-right: 10px;color: white;" aria-current="page" routerLink="displaydrug" class="btn btn-outline-primary">SearchDrugs</a>
        <a style="margin-right: 10px;color: white;" aria-current="page" routerLink="displaydrug/cart" class="btn btn-outline-primary">MyCart</a>
        <a style="margin-right: 10px;color: white;" aria-current="page" routerLink="displaydrug/cart/orders" class="btn btn-outline-primary">My Orders</a>
        <span style="margin-left:620px;margin-right: 10px;color: white;">{{ getUsername() }}</span>
        <a (click)="logout()" style="margin-right: 10px;color: white;" class="btn btn-outline-warning">Logout</a>
        <!-- Additional buttons for authenticated user -->
      </div>
      <ng-template #AdminCheck>
        <div *ngIf="isAdminLoggedIn(); else loggedOutContent" class="user-nav navbar-right">
          <a style="margin-right: 10px;color: white;" routerLink="drugs/add" class="btn btn-outline-primary">AddDrug</a>
          <a style="margin-right: 10px;color:white" routerLink="drugs" class="btn btn-outline-primary">Drugs</a>
          <a style="margin-right: 10px;color:white" routerLink="drugs/orders" class="btn btn-outline-primary">showOrders</a>
          <span style="margin-left:700px;margin-right: 10px;color: white;">{{ getUsername() }}</span>
          <a (click)="logout()" style="margin-right: 10px;color: white;" class="btn btn-outline-warning">Logout</a>
          <!-- Additional buttons for authenticated user -->
        </div>
      </ng-template>
      <ng-template #loggedOutContent>
        <div class="navbar-nav ml-auto">
          <a class="nav-link active" style="margin-left:792px;margin-right: 10px;" aria-current="page" routerLink="home/users/login" class="btn btn-outline-warning">Login</a>
          <a class="nav-link active" style="margin-right: 10px;" aria-current="page" routerLink="signup" class="btn btn-outline-warning">Sign Up</a>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
</html>
